<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.huda_application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".SpecialtyHealth"
            android:exported="false" />
        <activity
            android:name=".Appointments"
            android:exported="false" />
        <activity
            android:name=".MentalHealth"
            android:exported="false" />
        <activity
            android:name=".VisionHealth"
            android:exported="false" />
        <activity
            android:name=".DentalHealth"
            android:exported="false" />
        <activity
            android:name=".PrimaryServices"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NewOrReturningUser"
            android:exported="false" />
        <activity
            android:name=".LabAccess"
            android:exported="false" />
        <activity
            android:name=".PatientInfoForm"
            android:exported="false" />
        <activity
            android:name=".StressForm"
            android:exported="false" />
        <activity
            android:name=".PersonalRepresentative"
            android:exported="false" />
        <activity
            android:name=".AuthorizationForm"
            android:exported="false" />
        <activity
            android:name=".PatientContract"
            android:exported="false" />
        <activity
            android:name=".CheckIn"
            android:exported="false" />
        <activity
            android:name=".PatientsPage"
            android:exported="false" />
        <activity
            android:name=".PatientForm"
            android:exported="false" />
        <activity
            android:name=".HealthServices"
            android:exported="false" />
        <activity
            android:name=".Announcements"
            android:exported="false" />
        <activity
            android:name=".OurStory"
            android:exported="false" />
        <activity
            android:name=".Contact_Us"
            android:exported="false" />
        <activity
            android:name=".Partners"
            android:exported="false" />
        <activity
            android:name=".MainApplication"
            android:exported="false" />
        <activity
            android:name=".RegisterAccount"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".NewLogin"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Huda_Application.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>